{% extends 'bus/business_base.html' %}
{% block title%} Business{% endblock %}

{% block content %}
<div class="w-1/2 my-6 mx-auto p-6 bg-gray-300 rounded-xl">
    <h1 class="text-3xl flex justify-center">Register your business to start selling.</h1>
        <form method="post" enctype="multipart/form-data" class="w-1/2 my-2 mx-auto p-6">
            {% csrf_token %}
            <div class="mb-4">
                <label for="id_owner" class="block text-gray-700 font-bold mb-2">Account Owner:</label>
                <select name="owner" id="id_owner" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                     <option value="{{ user.id }}">{{ user.username }}</option>
        
                </select>
            </div>
            <div class="mb-4">
                <label for="id_name" class="block text-gray-700 font-bold mb-2">Business Name:</label>
                <input type="text" name="name" id="id_name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>
            
            <div class="mb-4">
                <label for="id_logo" class="block text-gray-700 font-bold mb-2">Logo:</label>
                <input type="file" name="logo" id="id_logo" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>
        
            <div class="mb-4">
                <label for="id_description" class="block text-gray-700 font-bold mb-2">Description:</label>
                <textarea name="description" id="id_description" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"></textarea>
            </div>
            
            <div class="mb-4">
                <label for="id_location" class="block text-gray-700 font-bold mb-2">Location:</label>
                <input type="text" name="location" id="id_location" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>
            
            <div class="mb-4">
                <label for="id_email" class="block text-gray-700 font-bold mb-2">Email:</label>
                <input type="email" name="email" id="id_email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>
            
            <div class="mb-4">
                <label for="id_contacts" class="block text-gray-700 font-bold mb-2">Contacts:</label>
                <input type="text" name="contacts" id="id_contacts" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>
            <input type="submit" value="Submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            <a href="{% url 'business:sell' %}" class="mt-4 text-xl text-blue-500 hover:text-blue-700 block">Already registered</a>
        </form>
        
</div>

{% endblock %}

