{% extends 'bus/business_base.html' %}
{% block title%} products {% endblock %}

{% block content %}
<!---pdt mgt-->
<div class="container-fluid">
    <div class="row justify-content-center">
    <div class="col-lg-6">
    <form action="/upload" method="post" enctype="multipart/form-data">
        <div class="form-group">
        <label for="product-name">Product Name</label>
        <input type="text" class="form-control" id="product-name" name="product-name" required>
        </div>
        <div class="form-group">
        <label for="product-price">Price</label>
        <input type="number" class="form-control" id="product-price" name="product-price" required>
        </div>
        <div class="mr-3">
            <p class="text-dark font-weight-medium mb-0">Sizes:</p>
            <form>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="size-1" name="size">
                    <label class="custom-control-label" for="size-1">XS</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="size-2" name="size">
                    <label class="custom-control-label" for="size-2">S</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="size-3" name="size">
                    <label class="custom-control-label" for="size-3">M</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="size-4" name="size">
                    <label class="custom-control-label" for="size-4">L</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="size-5" name="size">
                    <label class="custom-control-label" for="size-5">XL</label>
                </div>
        <div class="form-group">
        <label for="product-image">Product Image</label>
        <input type="file" class="form-control-file" id="product-image" name="product-image" required>
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>
</div>
</div>
    <hr>
    <div class="container-fluid bg-secondary text-dark mt-5 pt-5 mb-5 table-container">
    <h2 class="text-center mb-5">Your Products</h2>
    <table class="table table-striped">
    <thead>
        <tr>
        <th>Product Name</th>
        <th>Price</th>
        <th>Size</th>
        <th>Image</th>
        <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <!-- Replace with actual products from database -->
        <tr>
        <td>Product 1</td>
        <td>$10.00</td>
        <td>XL</td>
        <td><img src="img/shoe1.avif" alt="Product 1" width="100"></td>
        <td>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
            Delete
            </button>
        </td>
        </tr>
        <tr>
        <td>Product 2</td>
        <td>$20.00</td>
        <td>L</td>
        <td><img src="img/shoe2.jpeg" alt="Product 2" width="100"></td>
        <td>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
            Delete
            </button>
        </div>
</div>    
</div><hr>

{% endblock %}