{% extends 'main/base.html'%}
{% block title%} {{item.name}} {% endblock %}
{% block content %}
<h1 class="text-center py-4 text-5xl font-bold">PRODUCT DETAILS</h1>
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col-lg-5 pb-5">
            <div id="product-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner border">
                    <div class="carousel-item active">
                        <img class="w-100 h-100" src="{{item.image.url}}" alt="Image">
                    </div>
                   
                    
                </div>
                <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                    <i class="fa fa-2x fa-angle-left text-dark"></i>
                </a>
                <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                    <i class="fa fa-2x fa-angle-right text-dark"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-7 pb-5">
            <h3 class="font-weight-semi-bold">{{item.name}}</h3>
            <div class="d-flex mb-3">
                <div class="text-primary mr-2">
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star"></small>
                    <small class="fas fa-star-half-alt"></small>
                    <small class="far fa-star"></small>
                </div>
                <small class="pt-1">(50 Reviews)</small>
            </div>
            <h3 class="font-weight-semi-bold mb-4">shs. {{item.price}}</h3>
            <p class="mb-4">From the iconic checkerboard slip-on to the legendary Old Skool, Vans offers timeless styles for men, women, and kids.  Built with comfort and durability in mind, Vans are perfect for skating, everyday wear, or expressing your unique style.  Shop their wide variety of colors, patterns, and materials to find the perfect Vans for you.</p>
            <div class="d-flex align-items-center mb-4 pt-2">
                <div class="input-group quantity mr-3" style="width: 130px;">
                    <div class="input-group-btn">
                        <button class="btn btn-primary btn-minus" >
                        <i class="fa fa-minus"></i>
                        </button>
                    </div>
                    <input type="text" class="form-control bg-secondary text-center" value="1">
                    <div class="input-group-btn">
                        <button class="btn btn-primary btn-plus">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <button class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i> Add To Cart</button>
            </div>
        </div>
    </div>
</div>
<h2 class="text-center py-4 text-3xl font-bold"> Related items</h2>
<div class="flex flex-wrap">
    {% for item in related_items %}
    <div class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4 p-4">
      <div class="bg-white rounded-lg shadow-md">
       <a href="{% url 'jumia:detail' item.id %}">
        <div class="p-4">
          <img src="{{item.image.url}}" alt="Product 1" class="w-full h-auto rounded-md mb-4">
          <h2 class="text-lg font-semibold text-gray-800 mb-2">{{item.name}}</h2>
          <p class="text-sm text-gray-600">Price: sh.{{item.price}}</p>
        </div>
       </a>
      </div>
    </div>
    {% endfor %}
</div>
{% endblock %}