{% extends 'main/base.html' %}
{% block title%} products {% endblock %}

{% block content %}

<!-- search.html -->



 <!-- Categories Start -->
 <div class="container-fluid pt-5">
  <h1 class="text-center py-4 text-3xl font-bold">PRODUCT CATEGORIES</h1>
  <div class="row px-xl-4 pb-2">
      {% for c in cat %}
      <div class="col-lg-2 col-md-6 pb-1">
          <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
              <a href="" class="cat-img position-relative overflow-hidden mb-3">
                  <img class="img-fluid" src="{{c.image.url}}" alt="{{c.category_name}}">
              </a>
              <h5 class="font-weight-bold m-0">{{c.category_name}}</h5>
          </div>
      </div> 
      {% endfor %}
  </div>
</div>
<!-- Categories End -->

<h2 class="text-center py-4 text-5xl font-bold"> Newest items</h2>
<div class="flex flex-wrap">
    {% for item in type %}
    <div class="w-full md:w-1/2 lg:w-1/3 xl:w-1/4 p-4">
      <div class="bg-white rounded-lg shadow-md">
       <a href="{% url 'main:detail' item.id %}">
        <div class="p-4">
          <img src="{{item.image.url}}" alt="Product 1" class="w-full h-auto rounded-md mb-4">
          <h2 class="text-lg font-semibold text-gray-800 mb-2">{{item.name}}</h2>
          <p class="text-sm text-gray-600">Price: sh.{{item.price}}</p>
        </div>
       </a>
      </div>
    </div>
    {% endfor %}
</div>
{% endblock %}