
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
</head>
<body>
    <h1>Search Results</h1>
    
    {% if results.products %}
        <h2>Products</h2>
        <ul>
            {% for product in results.products %}
                <li>{{ product.name }}</li>
                <p>Category: {{ product.categories.category_name }}</p>
                <p>Description: {{ product.type.description }}</p>
                <p>Price: {{ product.type.price }}</p>
                <!-- Add more product details as needed -->
            {% endfor %}
        </ul>
    {% endif %}

    {% if results.categories %}
        <h2>Categories</h2>
        <ul>
            {% for category in results.categories %}
                <li>{{ category.category_name }}</li>
                <!-- Add more category details as needed -->
            {% endfor %}
        </ul>
    {% endif %}
    
    {% if results.types %}
        <h2>Types</h2>
        <ul>
            {% for type in results.types %}
                <li>{{ type.name }}</li>
                <p>Description: {{ type.description }}</p>
                <p>Price: {{ type.price }}</p>
                <!-- Add more type details as needed -->
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
